html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.container {
  height: 100%;
  display: box;
  box-orient: horizontal;
}

.sidebar {
  background: hotpink;
  width: 100px;
  box-flex:  0;
}


.main {
  background: aliceblue;
  box-flex: 1;
}
